/* *,
*::before,
*::after {
  box-sizing: border-box;
} */
html,
body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
  }
div{
    display: block;
}
/* top hearder */
.thanhxanh{
    width: 100%;
    background: #007bff;
    height: 60px;
    position: relative;

}
.trai{
 width: 25%;
  position: absolute;
  float: left;
 
}
.trai p{
  color: #fff;
  font-size: 18px;
  padding-top: 10px;
  margin-left: 15px;
}
.phai{
  
  position: absolute;
 padding-left: 30%;
 width: 70%;
 float: left;
}
.phai ul li{
  float:left;
  display: inline-block;
  padding-top: 10px;
  
}
.phai a{
  text-decoration: none;
  font-size: 18px;
  color: #fff;
}
#small-dialog1{
  display: block;
  background: white;
  padding: 20px 20px 30px 20px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
  text-align: center;
  border: 1px solid gray;
  width: 500px;
  height: 100px;

}
.select-city h3{
  margin: 20px;
  color: #F45C5D;
  font-size: 25px;
  letter-spacing: 1px;
}
.list_of_cities {
  width: 100%;
  padding: 12px;
  border: 1px solid rgba(47, 47, 47, 0.44);
  color: #4d4d4d;
  font-size: 14px;
  letter-spacing: 1px;
}
button.mfp-close{
  overflow: visible;
  cursor: pointer;
  border: 0;
  background: #FFF;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 1046;
}
.mfp-close-btn-in .mfp-close {
  color: #333333;
}
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0px;
  top: -43px;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  outline: none;
}
.header-bot{
  height: 100px;
  background-color: white;
  display: inline-block;
  width: 100%;
}
.logotrai a{
  
  color: #F45C5D;
  font-size: 40px;
  text-decoration: none;
  float: left;
  letter-spacing: 1px;
  padding-top: 10px;
  margin-right: 10px;
}
.timkiem{
 padding-left: 0px;
 border: 0px;
 margin: 28px;
  float: left;
  width: 50%;
}
#logoBig{
 font-size: 2.8vw;
 padding-top: 20px;
 /* width: 18%; */
}
#logoImg{
      padding-bottom: 10px;
   padding-top: 10px;
   padding-right: 10px;
 width: 70%;
 /* font-size: 1.5vw; */
 height: 60%;
 /* width:10%; */
 padding-left: 40px;
}
#cartLogo{
 float: left;
  width: 10%;
}
#imgCart{
 margin-top: 25px;
 width: 40%;
 height: 40%;
 background: #e0d016;
}
#boxSearch{
 padding: 13px;
 border: 0px;
 font-size: 15px;
}
.giohang{
  float: left;
  margin-top: 35px;
  margin-left: -30px;
}
.timkiem input[type="search"] {
  color: #191e21;
  width: 65%;
  letter-spacing: 1px;
  padding: 10px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
  margin-right: 6px;
}
.timkiem button {
  border-radius: 0;
  background: #F45C5D;
  color: #fff;
  width:15%;
  font-size: 1.0vw;
  height: 3.3em;
  cursor: pointer;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.22);
  padding: 10px;
  display: inline-block;
}
.giohang .fas{
  font-size: 35px;
}
.navbar-inner{
  position: relative;
  height: 80px;
  width: 100%;
  background-color:#f8f9fa ;
  
}
.danhmuc{
  width: 20%;
  float: left;
}
.nav-menu{
  /* padding-left : 40px;
  position: absolute; */
  float: right;
  width: 70%;
}
.nav-menu .nav-item{
  display: inline-block;
  margin-left: 20px;
  padding-top: 10px;
  padding-right: 30px;
  float: left;
  margin-top: 30px;
}
.nav-menu .nav-item.trangchu{
  
}
.navbar-inner a{
  text-decoration: none;
  font-size: 14px;
  color: #545454;
  letter-spacing: 1px;
}
ul{
  list-style: none;
}
a.nav-link{
font-size: 20px;
color: black;
}
#btnClose{
   float: right;
} 
#btnClose:hover{
   cursor: pointer;
}
#agileinfo-nav_search {
 
 padding: 5%;
 width: 50%;
 margin: 5%;
 margin-left: 20%;
 outline: none;
   /* border: none; */
   color: #000;
   font-size: 14px;
   background: transparent;
   
   font-size: 1vw;
   letter-spacing: 1px;
   cursor: pointer;
}
option {
 font-weight: normal;
 display: block;
 white-space: pre;
 min-height: 1.2em;
 padding: 0px 2px 1px;
}
#navMenu{
 width: 100%;
}
.nav-itemDropdown{
 
   position: relative;
   display: inline-block;
   padding-top: 2%;
   padding: 1%;
   margin-top: 2%;
   margin: 1%;
   width: 12%;
   font-size: 1.5vw;
}
.dropdown-menu{
 
   position: absolute;
   top: 100%;
   left: 0;
   z-index: 1000;
   display: none;
   float: left;
   
}

.multi-column-dropdown a{
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}
.nav-itemDropdown:hover .dropdown-menu{
 display: block;
 background: #007bff;
 width: 100%;
}

.multi-column-dropdown:hover li{
 background-color: #58257b;
 color: white;
}
li a:hover{
 background: #F45C5D;
 color: #58257b;
}
/* het top hearder */
/* phan san pham */
.container{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    height: 600px;
}
.row{
    padding-bottom: 1.5rem !important;
    padding-top: 1.5rem !important;
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.product-small-img img{
    height: 100px;
    margin: 10px 0;
    cursor: pointer;
    display: block;
    opacity: .6;
}
.product-small-img img:hover{
    opacity: 1;
}
.product{
    
    float: left;
    position: relative;
}
.product-small-img{
    float: left;
}
.img-container img{
    height: 500px;
}
.img-container{
    float: right;
}
.tensp{
    font-size: 25px;
    color: #000;
    margin-bottom: 1rem !important;
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    line-height: 1.2;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.thongtin{
    height: 500px;
    max-width: 45%;
    position: relative;
    float: left;
}
.giakm{
    font-size: 18px;
    color: #d60404;
}
.giagoc{
    font-size: 15px;
    color: #999;
}
ul{
    margin: 0;
    padding: 0;
}
.km ul li{
    display: block;
    font-size: 14px;
    margin-bottom: 1rem !important;
    text-align: -webkit-match-parent;
}
.cauhinh{
    border-top: 1px solid #0879c9;
}
.cauhinh ul li{
    list-style: inside;
    font-size: 14px;
    line-height: 1.7;
    margin-bottom: 0.25rem !important;
}
.nutgh .nut{
    width: 38%;
    margin: 0;
}
form {
    display: block;
    margin-top: 0em;
}    
fieldset{
    min-width: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
.nut input.button{
    font-size: 13px;
    color: #fff;
    background: #0879c9;
    text-decoration: none;
    border: none;
    border-radius: 0;
    width: 100%;
    text-transform: uppercase;
    padding: 13px;
    outline: none;
    letter-spacing: 1px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.45);
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
}
.services-breadcrumb{
    padding: 0;
    background: #eee;
    text-align: center;
}
.cont{
    max-width: 1140px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
ul.w3{
    text-align: left;
    padding: 16px 0;
}
ul.w3 li{
    display: inline-block;
    text-transform: uppercase;
    color: #000;
    font-size: 0.9em;
    font-weight: 600;
    letter-spacing: 1px;
}
ul.w3 li a{
    color: #F45C5D;
    text-decoration: none;
}
.banner{
    background: url(../images/b1.jpg) no-repeat center;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
    min-height: 300px;
}
/* het san pham */
/* banner */
.section__product--shoutout {
    width: 100%;
    height: 400px;
    background-image: url("../images/bg.jpg");
    background-position: center;
    background-attachment: fixed;
    /* margin-bottom: 1000px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .new-popup {
    position: absolute;
    left: -20px;
    color: white;
    padding: 5px;
    border-radius: 4px;
    background: red;
  }
  .shoutout {
    width: 40%;
    height: 70%;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    position: relative;
  }
  
  .shoutout > * {
    margin: 0 20px;
  }
  
  .shoutout > .new-popup {
    background-color: red;
    top: 20px;
    left: 58%;
  }
  
  .shoutout--image {
    width: 150px;
    height: 200px;
  }
  
  .shoutout--text h2 {
    font-size: 1.6rem;
    margin-bottom: 30px;
    font-weight: normal;
  }
  
  .shoutout--text p {
    color: #524e4e;
    opacity: 0.7;
  }
  
  .shoutout--text h3 {
    color: rgb(241, 67, 36);
    font-weight: lighter;
    font-size: 1.5rem;
  
    margin-bottom: 10px;
  }
/* het banner */

/* footer */
*{
	margin: 0;
	padding: 0;

}

.Footer {
	
	width: 100%;
	background-color: #333333;
	margin-top: 15px;
	
}

.Detail-footer{
	max-width: 1140px;
	
	background-color: #212529;
	margin: 0 auto;
	display: flex;
	}

.Detail-footer1 {
	padding-left: 15px;
	width: 25%;
	background-color: #333333;
}
 .Detail-footer1 h3 {
	padding-top: 20px;
	padding-bottom:20px;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
	
	

}

.Footer-List{
	padding-left: 0px;
	list-style: none;
}
.Footer-List li  {
	
	font-size: 16px;
	padding-top: 10px;
	padding-bottom: 15px;
	display: block;
}
.Footer-List li a {
	text-decoration: none;
	color: #BDBDBD;
}
.Footer-List li a:hover{
	color: red;
}

.anh1{
	width: 23px;
	height: 21px;
}
.Detail-footer1 p{
	color: #999999;
	padding-bottom: 10px;
}

.email--go {
	display: block;
}
.email--go .inputemail{
	width: 52%;
	border-radius: 1px;
	padding: 14px;
}
.email--go .buttongo{
	padding: 14px;
	background-color: #f45c5d;
	border: none;
}
.list-anh{
	list-style: none;
	
	
}
.list-anh li {
	margin-left: 15px;
	display: inline-table;
}
/* het footer1 */

.Footer2{
	width: 100%;
	
	background-color: rgb(160, 45, 55);
	
}

.footer2-sub{
	max-width: 1140px;
	
	background-color: #f1f1f1;
	margin: 0px auto;
	
}
.footer2-sub h5{
	font-size: 27px;
	color: #696969;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-top: 25px;
}

.ulfooter2{
	list-style-type: none;
	padding-left: 0	px;
	background-color: #f1f1f1;
}

.ulfooter2 li{
	display: inline-table;
	
	height: 32px;
	line-height: 32px;
	
}
.ulfooter2 li a{
	color: #696969;
	text-decoration:none;
	padding-left:17px ;
}
.ulfooter2 li a:hover{
	color: #f45c5d;
}

.footer2-subcon .img4anh{
	padding-left: 13px;
}

/* HetFooter2 */

.Footer3{
	width: 100%;
	background-color: #0879c9;
}
.Footer3-sub{
	max-width: 1140px;
	background-color: #0879c9;
	margin: 0 auto	;

}
.Footer3-sub .pfooter3{
	color: #f1f1f1;
	text-align: center;
	padding-top: 30px;
	padding-bottom: 10px;
	font-size: 22px;
}
.Footer3-sub .pfooter34{
	color: #999999;
	text-align:left;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 19px;
	padding-left: 24px;
}
.Footer3-sub .pfooter35{
	color: #999999;
	text-align:left;
	padding-top: 0px;
	padding-bottom: 10px;
	font-size: 19px;
	padding-left: 24px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  margin: 0 auto;
  width: 50%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: .3rem;
  outline: 0;
  z-index: 100;
}

.modal-body {
  padding: 1rem;
}

.modal-footer {
  display: flex;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
  flex-direction: row;
  justify-content: flex-end;
  border-top: 1px solid #aaaaaa;
  padding: 1rem;
}

.modal-footer>:not(:first-child) {
  margin-left: .25rem;
}

.btn {
  cursor: pointer;
  outline: none;
  font-weight: 400;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: all .2s ease-in-out;
}

.btn-secondary {
  color: #292b2c;
  background-color: #fff;
  border-color: #ccc;
}


.modal-header {
  padding-left: 3%;
  padding-top: 0%;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #aaaaaa;
  padding: 1rem;
}

h5.modal-title {
  font-size: 1.5rem;
}

.close {
  color: #aaaaaa;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#cart {
  font-size: 15px;
  color: #fff;
  
  border: 1px solid transparent;
  border-radius: 10px;
  outline: none;
  margin-left: 1rem;
  padding: 12px;
  cursor: pointer;
}

#cart:hover {
  border-color: #fff;
}
.cart-row{
  width: 100%;
  float: left;
}
.cart-total{
  width: 100%;
  padding-top: 10%;
  padding-bottom: 2%;
}
.cart-total-title{
  margin-top: 30px;
  width: 60%;
  float: left;
}
.cart-total-price{
  margin-top: 30px;
  float: left;
  width: 30%;
}
/* footer */


.cart-header {
  font-weight: bold;
  font-size: 1.25em;
  color: #333;
}

.cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-right: 1.5em;
  padding-bottom: 10px;
  margin-top: 10px;
}

.cart-row {
  display: flex;
}

.cart-item {
  width: 45%;
}

.cart-price {
  width: 20%;
  font-size: 1.2em;
  color: #333;
}

.cart-quantity {
  width: 35%;
}

.cart-item-title {
  color: #333;
  margin-left: .5em;
  font-size: 1.2em;
}

.cart-item-image {
  width: 75px;
  height: auto;
  border-radius: 10px;
}

.btn-danger {
  color: white;
  background-color: #EB5757;
  border: none;
  border-radius: .3em;
  font-weight: bold;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

.cart-quantity-input {
  height: 34px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #56CCF2;
  background-color: #eee;
  color: #333;
  padding: 0;
  text-align: center;
  font-size: 1.2em;
  margin-right: 25px;
}

.cart-row:last-child {
  border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
  
}

.cart-total-price {
  color: #fff;
  margin-top: 30px;
  color: #333;
  font-size: 1.1em;
}
.modal-footer{
  margin-top: 30px;
  
}
.buttonAddCart{
  background-color: lightblue;
  border-color: lightblue;
  margin: 20px;
  padding: 20px;
  border-radius: 5px;
}
